@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600;900&display=swap");

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #ededed;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(135, 135, 135, 0.616);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 3.5em;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5em;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5em;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
    margin: 20px 0;
}

a {
    text-decoration: none;
}

body {
    font-size: 0.85em;
    overflow-x: hidden;
    background: #121212;
    color: #ededed;
}

body nav {
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

body nav .menu {
    position: inherit;
    width: 450px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 0;
    z-index: -1;
    font-size: 1em;
}

body nav .menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15em
}

body nav .menu ul li a {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 900;
    display: block;
    color: #ededed;
    padding: 1em 2em;
    margin: 2em 0;
    transition: .2s
}

body nav .menu ul li a:hover {
    letter-spacing: 2px
}

body nav .menu ul li a:nth-child(1),
body nav .menu ul li a:nth-child(2) {
    border-bottom: 2px solid #ededed;
}

body nav .menu button {
    border: 2px solid #ededed;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer
}

body nav .menu button p {
    background: #121212;
    color: #ededed;
    font-size: 1em;
    padding: 1em 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    transition: all .3s;
}

body nav .menu button p:hover {
    letter-spacing: 2px;
}

body nav .menu button p::before {
    content: 'Zamknij';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 1em;
    overflow: hidden;
    background: #ededed;
    color: #121212;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path .3s, z-index .3s;
}

body nav .menu button p:hover:before {
    z-index: 1000;
    clip-path: circle(100% at 50% 50%);
}

main {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 0;
    transition: .3s;
    left: 0px;
    width: 100%;
    box-shadow: -30px 0px 100px 0px #ededed;
    transition: left .3s;
}

main.slide {
    left: -450px;
}

main .ham-menu {
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 0;
    padding: 1em;
    background: #ededed;
    transition: right .3s;
    cursor: pointer
}

main .ham-menu.menu-slide {
    right: 450px
}

main .ham-menu .hamburger {
    display: flex;
    flex-direction: column;
    background: #ededed;
}

main .ham-menu .hamburger span {
    display: block;
    height: 4px;
    width: 30px;
    background: #121212;
    border-radius: 3px;
    transition: .2s;
}

main .ham-menu .hamburger span:nth-child(1),
main .ham-menu .hamburger span:nth-child(2) {
    margin-bottom: 5px;
}

main .ham-menu .hamburger span:nth-child(2) {
    width: 20px;
    align-self: flex-start;
}

main .ham-menu .hamburger:hover span:nth-child(2) {
    width: 30px;
}

main .ham-menu .hamburger.active span:nth-child(2) {
    width: 30px;
}

main .page {
    background-color: #ededed;
    position: relative;
}

main #one,
main #two,
main #three {
    overflow: hidden;
}

main #one {
    height: 100vh;
}

main #one .logo {
    position: absolute;
    z-index: 2;
    left: 100px;
    top: 40px;
    font-size: 1.9em;
    text-transform: uppercase;

}

@media only screen and (max-width: 1200px) {
        h1{
            font-size: 1.3em;
        }

        h2{
            font-size: 2.5em;
        }
    }

main #one .left {
    position: absolute;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #121212;
    clip-path: polygon(0 0, 40% 0, 50% 100%, 0% 100%);
}

main #one .left .text {
    padding: 100px;
    width: 50%;
}

main #one .left .text button {
    border: 2px solid #ededed;
    text-transform: uppercase;
    font-weight: 600;
}

main #one .left .text button a {
    background: #121212;
    color: #ededed;
    font-size: .9em;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    transition: all .3s;
}

main #one .left .text button a:hover {
    letter-spacing: 2px;
}

main #one .left .text button a::before {
    content: 'Zobacz więcej';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 1em;
    overflow: hidden;
    background: #ededed;
    color: #121212;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path .3s, z-index .3s;
}

main #one .left .text button a:hover:before {
    z-index: 1000;
    clip-path: circle(100% at 50% 50%);
}

main #one .right img {
    display: block;
    position: absolute;
    right: 0%;
    height: 100vh;
}

main #two {
    height: 100vh;
}

main #two .left img {
    display: block;
    position: absolute;
    left: 0%;
    height: 100vh;
}

main #two .right {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    background: #121212;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 40% 100%);
}

main #two .right .text {
    padding: 100px;
    width: 55%;
}

main #three {
    height: 100vh;
}

main #three .left {
    position: absolute;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #121212;
    clip-path: polygon(0 0, 40% 0, 50% 100%, 0% 100%);
}

main #three .left .text {
    padding: 100px;
    width: 45%;
}

main #three .right img {
    display: block;
    position: absolute;
    top: 0;
    right: -10%;
    height: 100vh;
}

main #footer {
    font-size: .9em;
    color: #121212;
    display: flex;
    justify-content: space-between;
}

main #footer p {
    margin: 0;
}

main #footer a {
    color: #ededed;
}

main #footer a:hover {
    color: #121212;
}

main #footer .left,
main #footer .right {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
}

main #footer .left {
    color: #121212;
    width: 100vw;
    clip-path: polygon(0 0, 50% 0, 53% 100%, 0% 100%);
    background: rgba(135, 135, 135, 0.616)
}

main #footer .right {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em
}

main #footer .right a p {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    color: #ededed;
    width: 1em;
    height: 1em;
    transform: rotate(180deg);
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

main #footer .right a p:hover {
    background: rgba(135, 135, 135, 0.616)
}

@media only screen and (max-width: 1080px) {
    h1, h2{
        font-size: 2.5em;
    }

    p{
        font-size: 1.5em;
    }
    
    h1, h2, h3, p{
        color: #121212;
    }

    body main #one .left {
        background: rgba(237, 237, 237, 0.788);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    }

    body main #one .left .text {
        width: 100%
    }

    body main #one .left .text button {
        background: transparent;
    }

    body main #one .left .text button a {
        background: transparent;
    }

    body main #one .right {
        filter: blur(10px);
    }

    body main #two .left {
        filter: blur(10px);
    }

    body main #two .right {
        background: rgba(237, 237, 237, 0.788);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    body main #two .right .text {
        width: 100%;
    }

    body main #three .left {
        background: rgba(237, 237, 237, 0.788);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    body main #three .left .text {
        width: 100%;
    }

    body main #three .right {
        filter: blur(10px);
    }

    body main #three .right img {
        position: relative;
    }

    body main #footer .left {
        background: rgba(135, 135, 135, 0.616);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body main #footer .right p {
        background: #ededed;
        color: #121212;
    }

    body main #footer .right p:hover {
        color: #ededed;
    }
}

@media only screen and (max-width: 586px) {
    body {
        font-size: .6em;
    }

    body nav .menu {
        font-size: 1.5em;
        width: 100vw;
    }

    body nav .menu button {
        font-size: 1em;
    }

    body main.slide {
        left: -100vw;
    }

    body main #one .logo {
        left: 40px;
        margin-bottom: 15px;
    }

    body main #one .left .text {
        padding: 10px 40px;
    }

    body main #two .right .text {
        padding: 10px 40px;
    }

    body main #three .left .text {
        padding: 10px 40px;
    }

    body main #footer {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
    }

    body main #footer .right {
        position: relative;
    }
}